:root {
    /* original */
    --purple: #381460;
    --dark-pink: #b21f66;
    --hot-pink: #fe346e;
    --yellow: #ffbd69;

    /* sunset */
    --s-sand: #EAAC8B;
    --s-red: #E56B6F;
    --s-grape: #B56576;
    --s-purple: #6D597A;
    --s-blue: #355070;

    /* sunset full */
    --sf-black: #001219;
    --sf-dark-blue: #005F73;
    --sf-blue: #0A9396;
    --sf-light-blue: #94D2BD;
    --sf-sand: #E9D8A6;
    --sf-yellow: #EE9B00;
    --sf-orange: #CA6702;
    --sf-vermillion: #BB3E03;
    --sf-red: #AE2012;
    --sf-dark-red: #9B2226;
}

/* universal rules */
body {
    font-family: "Cascadia Mono Light", monospace;
}

.link-no-style,
.link-no-style:link,
.link-no-style:hover,
.link-no-style:visited {
    color: inherit;
    text-decoration: inherit;
}

.link-project-style,
.link-project-style:link,
.link-project-style:hover,
.link-project-style:visited {
    color: var(--s-red);
    text-decoration: inherit;
}

/* sidebar */
.sidebar .avatar {
    width: 250px;
}

.sidebar .icon-link {
    display: inline-block;
}

.sidebar .link-icon {
    width: 50px;
    min-width: 15px;
}