/*
    Author: Elia Deppe
    Email: elia.deppe7@gmail.com

    COLOR PALLETTE
        Dark Gunmental #1c2826
        English Vermillion #d64550
        Rajah #f7b05b
        Stil de Grain Yellow #f7ce5b
        Tuscan #dfd6a7

        #381460 rgb(56,20,96)
        #b21f66 rgb(178,31,102)
        #fe346e rgb(254,52,110)
        #ffbd69 rgb(255,189,105)
*/


* {
    box-sizing: border-box;
    font-family: 'Anonymous Pro';
}


/* ----------------------------------- INDEX ----------------------------------- */


body, html {
    margin: 0;
    padding: 0;
}

.index_wrapper {
    height: 100vh;
    width: 100vw;
    border: 3vh solid whitesmoke;
}

.col {
    position: relative;
    
    float: left;
    height: 94vh;
}

.one {
    width: 30%;
}

.two {
    width: 22.5%;
}

.three {
    border: 10px dotted #b21f66;
    width: 30%;
}

.four {
    width: 17.5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.one > .content {
    display: inline-block;
    
    position: absolute;
    bottom: 0;
    right: 0;
    
    margin-right: 10px;
    margin-bottom: 15px;
}

.four > .content {
    position: absolute;
    bottom: 0;
    right: 0;
    
    margin-right: 10px;
    margin-bottom: 15px;
}


/* -------------------- INDEX COLUMN ONE -------------------- */

.one h1, p, a {
    color: #381460;
    font-style: italic;
}

.sidebar {
    content: "";
    display: table;
    clear: both;
    
    margin-top: 4px;
    
    position: relative;
}

.sidebar > a, div {    
    font-size: 1.95ch;
    font-style: italic;
    
    letter-spacing: .2vw;
}

.sidebar a {
    color: #ffbd69;
    background-color: #381460;
}

.sidebar a:hover {
    background-color: #b21f66;
}

.dropdown_wrapper {
    margin-top: 8px;
    
    position: relative;
    display: block;
}

.dropdown_content {
    overflow: hidden;
    
    height: 0;
    position: absolute;
    width: auto;
    
    margin-top: 4px;
    
    transition: all 1.4s ease;
}

.dropdown_content a {
    font-size: 1.6ch;
    
    display: block;
}

.dropdown_wrapper:hover .dropdown_content {
    height: 200px;
}

.content > h1 {
    margin: 0;

    text-align: end;

    font-size: xxx-large;
    letter-spacing: .3vw;
}

.content > p {
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-right: .2vw;
    
    text-align: end;
    
    font-size: medium;
    letter-spacing: .3vw;
}


/* -------------------- INDEX COLUMN 2 -------------------- */

.app_wrapper {
    content: "";
    display: table;
    clear: both;
    
    width: 100%;
    height: 100%;
    
    position: relative;
}

.name_wrapper {
    width: 80%;
    height: 15%;
    
    margin-top: 10vh;
    margin-left: 10%;
    
    color: #ffbd69;
    
    padding: 1px;
    
    text-align: end;
}

.name_wrapper > h1 {
    margin-top: 18%;
    margin-bottom: 0;
    margin-right: 2%;
    
    font-size: xx-large;
    
    letter-spacing: .5vw;
}

.name_wrapper > h2 {
    margin-top: 4%;
    margin-bottom: 0;
    margin-right: 2%;
    
    font-size: large;
    
    letter-spacing: .3vw;
}

.app_wrapper > ul {
    color: #381460;
}

.app_wrapper > ul > li {
    letter-spacing: 8px;
}

/* -------------------- INDEX COLUMN 3 -------------------- */

.img_wrapper {
    position: absolute;
    top: 5.25%;
    left: 5%;
    
    height: 89.5%;
    width: 90%;
    
    margin: 0;
    padding: 0;
}

.img_wrapper > img {
    max-height: 100%;
    max-width: 100%;
    
    margin: 0;
    padding: 0;
    
    border-radius: 10px
}

/* -------------------- INDEX COLUMN 4 -------------------- */
/* --------------- Directory --------------- */


.four > .content {
    margin-right: .5vw;
    margin-bottom: 2vh;
}

ul {
    margin: 0;
    
    list-style-type: none;
}

li {
    margin-top: 2.5vh;
    margin-bottom: 0;
    margin-left: 0;
    
    font-size: large;
    font-style: italic;
    
    letter-spacing: .6vw;
}

a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 4px;
    
    background-color: #fe346e;
    
    color: #381460;
    text-decoration: none;
    
    transition: 0.5s;
}

a:hover {
    background-color: #ffbd69;
}